@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>
<p>Thank you for registering. Please check your email for a confirmation message with a link that will confirm your account. Once you click the link, your registration will be complete.</p>