@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

<p>
    Thank you @User.Identity.Name for verifying your email address! You now have access to the site and are free to poke around as you please.
</p>